.empty-cart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
  }
  
  .empty-cart-message {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 500px;
  }
  
  .empty-cart-message h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .empty-cart-text {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
  }
  
.redirect-button {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .redirect-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
  }
  
  